
#header {
	background: #d44580;
	height: 50px;
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: 50px;
}

#swipe_wrap {
	width: 100%;
	height: 180px;
	border: 1px solid red;
	position: relative;
}

.swipe {
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0px;
}

.swipe li {
	width: 100%;
	background: aliceblue;
	height: 100%;
	float: left;
}

#list {
	
}

#list li {
	padding: 10px;
	display: flex;
}

#list li:hover {
	background: aquamarine;
}

#list li img {
	display: block;
	width: 140px;
	height: 80px;
}

#list li .content_des {
	padding: 0 15px;
}

#list li .content_des .big_title {
	font-size: 20px;
	color: #000000;
}

#list li .content_des .small_title {
	font-size: 14px;
	color: #a3a3a3;
	position: absolute;
	right: 0;
	margin-right: 15px;
}

#list li .content_des p {
	color: #bdbdbd;
	font-size: 12px;
}
